@import './mixins/mixins';
@import './modules/normalize';
@import './variables/var';
@import './responsive/responsive';

.edit{
	display: flex;
	justify-content: center;
	@include width-height(100%,auto);
	cursor: pointer;
	@include padding(5px, 5px,5px ,5px );
	border:none ;
	background:  $background-color_10;
	border-radius: 4px;
	@include font-style(15px,600,19.9995px);
	color: $color_8;
}

#demo {
	@include width-height(450px,auto);
	@include margin(0,auto , 0,auto );
	@include positioned(relative,0 ,0 ,0 ,0 );
	color: $color_1;
	border: 2px dashed $background-color_8;
	transition: transform 0.3s;
	display:none;
}
#status {
	@include width-height(100%,auto);
	border: none;
	box-sizing: border-box
}
#review {
	@include width-height(100%,auto);
	font-size: 12px;
	box-sizing: border-box;
	@include margin(10px,0,0,0);
}
#review a {
	color: #333;
	text-decoration: none
}
#review div {
	@include width-height(100%,auto);
    @include padding(8px,8px,8px,8px);
	border: 1px solid #ddd;
	box-sizing: border-box
}
#review img {
	width: 50%
}
#review h4,
#review p {
	margin: 0px;
}
#review span {
	color: #aaa;
	text-transform: uppercase
}
#review img.loading {
	@include width-height(50px,auto);
}

.url_preview {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	@include margin(10px,0,10px,0);
    background-color:$background-color_6;
}

.url_preview a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.url_preview img {
	@include width-height(100%,auto);
    object-fit: cover;
}

.url_preview div {
	@include padding(10px,10px,10px,10px);
}

.url_preview h4 {
    font-size: 1.2em;
	@include margin(0,0,0,0);
    color: #333;
}

.url_preview p {
	@include margin(5px,0,5px,0);
    color: #666;
}

.url_preview span {
    font-size: 0.9em;
    color: $color_1;
}

.emoji-selector {
    background-color: $background-color_2;
    border-radius: 1rem;
    cursor: default;
    display: none;
    @include padding(0, 0, 0, 0);
    border: 1px solid #eee;
    @include positioned(absolute, 135%, 0, 0, 50%);
    @include width-height(325px, 350px);
    z-index: 5;
    overflow: auto;
    transition: padding-left 0.3s, background-color 0.5s; 
}

.emoji-selector ul.emoji-list {
    background-color: $background-color_2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    @include padding(0, 1rem, 1rem, 1rem);
    border-radius: 0;
    z-index: 5;
}

.emoji-selector ul.emoji-list li {
    @include width-height(35px, 35px);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    margin: 0.2rem; /* Added margin for better spacing */
}

.emoji-selector.active {
    bottom: 110%;
    opacity: 1;
    pointer-events: all;
}

#webCam {
    display: none;
	@include width-height(250px,100px);
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white; 
    border: 1px solid #ccc; 
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.close {
    position: absolute;
    top: 0; 
    right: 0; 
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px; 
    color: black; 
}
.uploadOuter {
	text-align: center;
    @include padding(20px,20px ,20px ,20px );
	display: none;
	strong {
		@include padding(0,10px,0,10px);
	}
}

.dragBox {
	@include width-height(250px,100px);
	@include margin(0,auto , 0,auto );
	@include positioned(relative,0 ,0 ,0 ,0 );
	text-align: center;
	font-weight: bold;
	line-height: 95px;
	color: $color_1;
	border: 2px dashed $background-color_8;
	display: inline-block;
	transition: transform 0.3s;
  
	input[type="file"] {
	  @include positioned(absolute,0 , 0, 0,0 );
	  @include width-height(100%,100%);
	  opacity: 0;
	}
	
	&.draging {
	  transform: scale(1.1);
	}
}

#preview {
	text-align: center;
	img {
	    max-width: 30%;
	}
}


nav {
	@include flex-center;
	@include flex-space-between;
	background-color:$background-color_6;
	@include padding(2px, 2%, 2px,2% );
	@include positioned(sticky,0 ,0 ,0 ,0 );
	z-index: 5;
}

.logo {
	@include width-height(40px,40px);
	// @include margin( 0, 45px,0 ,0 );
}

.nav_left,
.nav_right {
	@include flex-center;
}
.nav_center{
    @include flex-space-between;
	align-items: center;
}
.nav_center ul{
	@include width-height(400px,auto);
    @include flex-space-between;
    align-items: center;
}
.nav_center ul li {
	list-style: none;
	display: inline-block;
	
}

.nav_right{
    @include flex-center;
	align-items: center;
}
.nav_right ul li {
	list-style: none;
	display: inline-block;
	@include width-height(40px,40px);
	background-color: $background-color_1;
	border-radius: 70px;
	
}
	
.nav_right ul li svg {
	@include margin(10px,10px ,10px ,10px );
		color: #050505;
	@include width-height(20px,20px);

}

.nav_center ul li svg {
		color: rgb(101, 103, 107);
	@include width-height(24px,24px);

}
.proflie_detail_right  .plus{
	@include width-height(16px,16px);

}

.nav_user_icon img {
	@include width-height(40px,40px);
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

.nav_user_icon {
	@include margin(0, 0, 0,30px );
}

.search_box {
	background: $background-color_1;
	@include width-height(280px,35px);
	border-radius: 25px;
	@include flex-center;
	@include padding(0,15px ,0 ,15px );
}

.search_box svg {
	@include width-height(18px,auto);
}

.search_box input {
	@include width-height(100%,auto);
	background-color: $background-color_4;
	@include padding(10px,10px ,10px ,10px );
	outline: none;
	border: none;
	@include font-style(15px,400,normal);

}

.online_icon {
	@include positioned(relative,0 ,0 ,0 ,0 );
}

.online_icon::after {
	content: ' ';
	@include width-height(7px,7px);
	background-color: #41db51;
	border-radius: 50%;
	border: 2px solid $color_4;
	@include positioned(absolute,0 ,0 ,0 ,0 );
}

.container {
	@include flex-space-between;
	padding: 13px 5%;
	@include padding(13px, 5%,13px ,5% );
}

.left_sidebar {
	flex-basis: 25%;
	@include positioned(sticky ,90px ,0 ,0 ,0 );
	align-self: flex-start;
}

.right_sidebar {
	background-color: $color_4;
	flex-basis: 25%;
	@include padding(20px,20px ,20px ,20px );
	@include width-height(auto,89vh);
	border-radius: 4px;
	color: $color_2;
	@include positioned(sticky ,70px ,0 ,0 ,0 );
	align-self: flex-start;
}

.main_content {
	flex-basis: 47%;
	
}

.important_link a,
.shortcut_links a {
	text-decoration: none;
	@include flex-center;
	@include margin(0, 0,30px ,0 );
	color: $color_2;
	@include width-height(fit-content,auto);
}

.important_link a img {
	@include width-height(25px,auto);
	@include margin(0,15px ,0 ,0 );
}

.important_link a:last-child {
	color: $color_3;
}

.important_link {
	border-bottom: 1px solid $background-color_8;
}

.shortcut_links a img {
	@include width-height(40px,auto);
	border-radius: 4px;
	@include margin(0,15px ,0 ,0 );
}

.shortcut_links p {
	@include margin(25px,0 ,25px ,0 );
	color: $color_2;
	font-weight: 500;
}

.sider_bar_title {
	@include flex-center;
	@include flex-space-between;
	@include margin( 0, 0,18px ,0 );
}

.right_sidebar h4 {
	font-weight: 600;
	font-size: 16px;
}

.sider_bar_title a {
	text-decoration: none;
	color: $color_3;
	font-size: 12px;
}

.event {
	display: flex;
	font-size: 14px;
	@include margin(0,0 ,20px ,0 );
}

.event .Left_event {
	border-radius: 10px;
	@include width-height(65px,65px);
	margin-right: 15px;
	@include padding(10px,0 ,0 ,0 );
	text-align: center;
	@include positioned(relative,0 ,0 ,0 ,0 );
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event .Left_event span {
	position: absolute;
    bottom: 0;
    left: 0;
	@include width-height(100%,auto);
	color: $color_4;
	background-color: $color_3;
	font-size: 10px;
	@include padding( 4px, 0,4px ,0 );
}
.event .Right_event p {
	font-size: 12px;
}

.event .Right_event a {
	font-size: 12px;
	text-decoration: none;
	color: $color_3;
}

.advirsment_side_bar {
	@include width-height(100%,auto);
	@include margin(0,0 ,20px ,0 );
	border-radius: 4px;
}

.online_list {
	@include flex-center;
	@include margin(0, 0,20px ,0 );
}

.online_list .online_icon img {
	@include width-height(40px,40px);
	object-fit: cover;
	border-radius: 50%;
}

.online_list .online_icon {
	@include width-height(40px,auto);
	border-radius: 50%;
	@include margin(0,15px ,0 ,0 );
}

.online_list .online_icon::after {
	top: unset;
	bottom: 5px;
}

.story_gallery {
	@include flex-space-between;
	@include margin(0,0 ,20px ,0 );
}

.story {
	flex-basis: 18%;
	@include padding(32%, 0,0 ,0 );
	@include positioned(relative,0 ,0 ,0 ,0 );
	background-image: linear-gradient($background-color_4, rgba(0, 0, 0, 0.5)), url('../../../assets/images/5.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}
.story img {
	@include positioned(absolute,0 ,0 ,0 ,0 );
	@include width-height(45px,45px);
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid  $color_3;
}
.story p {
	position: absolute;
	bottom: 10px;
	@include width-height(100%,auto);
	text-align: center;
	color: $color_4;
	font-size: 14px;
}
//implement 4 story using for loop
@for $i from 2 through 5 {
    .story#{$i}{
        background-image: linear-gradient($background-color_4, rgba(0, 0, 0, 0.5)), url('../../assets/images/#{$i}.jpg');
    }
}

.story1 img {
	top: unset;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
	border: 0;
	@include width-height(35px,auto);
}

.user_profile_modal {
	@include flex-center;
}
.user_profile_modal img {
	@include width-height(45px,45px);
	object-fit: cover;
	border-radius: 50%;
	@include margin(0,10px ,0 ,0 );
}
.user_profile img{
	@include width-height(45px,45px);
	object-fit: cover;
	border-radius: 50%;
	display: flex;
}
.user_profile a {
	font-size: 12px;
	color: $color_3;
	text-decoration: none;
}
.user_profile_modal p  {
	@include margin(0,0 ,-5px ,0 );
	font-weight: 500;
	color: $color_2;
}
.user_profile_modal small  {
	font-size: 12px;
}
.user_profile span {
	font-size: 13px;
	color: $color_5;
}

.postContent{
	@include padding(10px,0,0,0);
	@include font-style(15px,400,19.9995px);
	color:  $color_8;
}
.post_profile_data{
	@include margin(0,0,0,10px);
}
.profile_data img:first-child{
	z-index: 4;
	position: relative;
	right: -15px;

}
.profile_data img:nth-child(2){
	z-index: 3;
	position: relative;
	right: 0px;


}
.profile_data img:nth-child(3){
	z-index: 2;
	position: relative;
	right: 15px;

}
.profile_data img:nth-child(4){
	z-index: 1;
	position: relative;
	right: 30px;

}

.post_input_container {
	@include padding(20px,0 , 0,20px );
}
.post_input_container input {
	@include width-height(100%,auto);
	border: 0;
	border-bottom: 1px solid $background-color_8;
	background-color: $background-color_4;
	outline: none;
	resize: none;
}
.add_post_link {
	display: flex;
	justify-content: space-between;
	@include padding(20px,0,0,0);
	// @include margin(-20px,0 ,0 ,0 );
}

.add_post_link a {
	text-decoration: none;
	@include flex-center;
	color: $color_2;
	// @include margin(0,30px ,0 ,0 );
	font-size: 13px;
}

.post_container {
	@include width-height(98%,auto);
	background-color: $color_4;
	border-radius: 6px;
	@include padding(20px, 20px,20px ,20px );
	color: $color_2;
	@include margin(20px,0 ,20px ,10px);
}
.grid_image_container {
	@include padding(10px,0,10px,0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.grid_image_container .post_img {

    @include width-height(200px,200px);
    object-fit: cover;
}

.more_images {
    position: relative;
}

.more_overlay {
	@include positioned(absolute,0,0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
	@include flex-center;
    align-items: center;
    font-size: 24px;
}

/* Modal styles */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
	@include width-height(100%,100%);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-modal-content {
    position: relative;
    margin: auto;
	@include padding(20px,20px,20px,20px);
    width: 80%;
    max-width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.close {
	position: absolute;
	top: 3px;
	right: 8px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Grid layout for post images */
.grid_image_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.grid_image_container .post_img {
	@include width-height(100%,auto);
    object-fit: cover;
}

.more_images {
    position: relative;
}

.more_overlay {
	@include positioned(absolute ,0,0,0,0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
	@include flex-center;
    align-items: center;
    font-size: 24px;
}

.add_post_container {
	max-width: 100%;
	background-color: $color_4;
	border-radius: 6px;
	@include padding(10px, 20px,20px ,20px );
	color: $color_2;
	@include margin(20px,0 ,20px ,10px );
	display: none;
}
#input_value{
	background: $background-color_1;
	@include width-height(100%,35px);
	border-radius: 25px;
	justify-content: center;
	@include padding(20px,20px ,20px ,20px );
	@include font-style(17px,400,22.78px);
	@include margin(0,0,10px,0);

}
.footer-links a {
	display: inline-flex;
    align-items: center;
    text-decoration: none;
	@include font-style(13px,400, 16.0004px);
    color: rgb(101, 103, 107);
}



.post_shape{
	@include width-height(98%,auto);
	background-color: $color_4;
	border-radius: 6px;
	@include padding(20px, 20px,20px ,20px );
	color: $color_2;
	@include margin(20px,0 ,20px ,10px);
	display: flex;
    flex-direction: column;
}
.post_shape h1{
	@include font-style(20px,700,24px);
	color: rgb(5, 5, 5);

}
.post_shape_buttons{
    display: flex;	
	@include width-height(210px,auto);
    justify-content: space-between;
}
.post_shape button{
	border: none;
	@include padding(5px,5px,5px,5px);
	@include font-style(15px,600,19.9995px);
	color:rgb(5, 5, 5) ;
	display: flex;
    align-items: center;
}

.post_shape ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	@include padding(10px,0,0,0);
}
.post_shape a{
	text-decoration: none;
	@include font-style(15px,600,19.9995px);
	color:rgb(101, 103, 107) ;
	display: flex;
    align-items: center;

}
.post_shape_first{
	display: flex;
	justify-content: space-between;
	@include padding(0,0,10px,0);
}

.add_post_container .userName ,.user_profile_modal .userName {
	@include font-style(15px,600,19.9995px );
    @include padding(0,0,2px,0);
    color:rgb(5, 5, 5);
}
.add_post_container .date,.user_profile_modal .date{
	@include font-style(13px,400,16.0004px);
	@include padding(2px,0,2px,0);

	color: $color_7;
}

.add_post_scrolling {
	@include width-height(98%,auto);
	background-color: $color_4;
	border-radius: 6px;
	@include padding(20px, 20px,20px ,20px );
	color: $color_2;
	@include margin(20px,0 ,20px ,10px);
}

.user_profile_modal span {
	font-size: 13px;
	color: $color_5;
}
.user_profile{
	display: flex;
}
.post_text {
	color: $color_5;
	font-size: 15px;
	@include margin(15px,0 ,15px ,0 );
}
.post_text span {
	color: $color_2;
	font-weight: 500;
}
.post_text a {
	color: $color_3;
	text-decoration: none;
}
.post_img {
	@include width-height(100%,auto);
	border-radius: 4px;
	@include margin(0,0 ,5px ,0 );
}
.post_row {
	@include flex-center;
	@include flex-space-between;
	@include padding(10px,0,0px,0);
}
.post_row .activity_icon div img {
	@include width-height(18px,auto);
	@include margin(0,10px ,0 ,0 );
}
.post_row .activity_icon div {
	display: inline-flex;
	align-items: center;
	@include margin(0,30px ,0 ,0 );
	
}
.post_profile_icon {
	@include flex-center;
}
.post_profile_icon img {
	@include width-height(20px,auto);
	border-radius: 50%;
	@include margin(0,5px ,0 ,0 );
}
.post_row a {
	color:$color_5 ;
}
.our_btn {
	display: block;
	@include margin(auto,auto  ,auto  ,auto  );
	cursor: pointer;
	@include padding(5px, 10px,5px ,10px );
	border: 1px solid $color_2;
	background: $background-color_4;
	border-radius: 4px;
}
.setting_menu {
	position: absolute;
	@include width-height(90%,auto);
	max-width: 350px;
	background-color: $color_4;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	top: 108%;
	right: 5%;
	max-height: 0;
	transition: max-height 1s;
	border-radius: 4px;
}
.setting_menu_height {
	max-height: 450px;
}
.user_profile_modal a {
	font-size: 12px;
	color: $color_3;
	text-decoration: none;
}
.settings_menu_inner {
	@include padding(20px, 20px,20px ,20px );

}
.setting_menu hr {
	border: 0;
	@include width-height(auto,1px);
	background-color: $color_5;
	@include margin(15px,0 ,15px ,0 );
}
.setting_link {
	@include flex-center;
	@include margin(15px,0 ,15px ,0 );
}
.setting_link .setting_icon {
	@include width-height(38px,auto);
	@include margin(0,10px ,0 ,0 );
	border-radius: 50%;
}
.setting_link a {
	flex: 1;
	@include flex-center;
	@include flex-space-between;
	text-decoration: none;
	color: $color_2;
}
#dark_btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: $background-color_8;
	@include width-height(45px,auto);
	border-radius: 15px;
	@include padding(2px, 3px,2px ,3px );
	cursor: pointer;
	display: flex;
	transition: padding-left 0.3s, background-color 0.5s;
}
#dark_btn span {
	@include width-height(18px,18px);
	background-color: $color_4;
	border-radius: 50%;
	display: inline-block;
}
.dark_btn_on {
	@include margin(0,0 ,0 ,23px );
	background-color: $color_6;
}
.delete_post{
	background-color: #1877f2;
	color: white;
	border: none;
	border-radius: 10px;
	@include padding(10px,30px,10px,30px);

}


#button_value {
	background-color: #1877f2;
	color: white;
	border: none;
	border-radius: 10px;
	@include width-height(100%,100%);
	@include padding(10px,30px,10px,30px);
	display: none;
	
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	@include width-height(100%,100%);
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
    max-width: 50%;
}

.close_button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close_button:hover,
.close_button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

//*************************************************************
//*****************Profile User********************************
//*************************************************************

.story_gallery_profile {
	@include flex-center;
	@include width-height(100%, auto);
	@include padding(5px,5px,5px,5px);
  }
  
.story_profile {
	// flex-basis: 18%;
	@include width-height(100%, 200px);
	@include padding(10%, 0, 10%, 15%);
	@include positioned(relative, 0, 0, 0, 0);
	@include margin(0,5px,20px,5px);
	background-image: linear-gradient($background-color_4, rgba(0, 0, 0, 0.5)), url('../../assets/images/5.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 10px;
  }
  
  .story_profile p {
	position: absolute;
	bottom: 10px;
	text-align:center;
	color: $color_4;
	font-size: 14px;
  }
  h5{
	position: absolute;
	bottom: -17px;
	text-align:center;
	color: $color_8;
	@include font-style(13px,600,16.0004px);
  }
  
  .story_profile2 {
	background-image: linear-gradient($background-color_4, rgba(0, 0, 0, 0.5)), url('../../assets/images/2.jpg');
}
  

/* todo: profile page  */
.profile_container {
	@include padding(0,15%,20px,15%);
    color: $color_2;
	
}

.cover {
	@include width-height(100%,auto);
    border-radius: 6px;
	
}
.img-cover{

	// background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0)  80%, #140A00 100%);
	border-image:  fill 0 linear-gradient(#0001,$color_6);
	display: flex;
}
.img-cover img {
    opacity: 0.5;
    width: 100%;
    transition: opacity 500ms 0ms ease-in-out;
}
.img-cover img:hover { opacity: 1 }

.profile_detail {
	@include padding(0,15%,20px,15%);
    border-radius: 4px;
	@include flex-space-between;
	@include width-height(100%,auto);
	display: block;
    align-items: flex-start;
	background-color: $background-color_6;
}

.profile_row {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
	@include padding(15px,0,0,0);
	@include width-height(75%,100%);
}

.pd_image {
	@include width-height(200px,200px);
	object-fit: cover;
    border-radius: 50%;
	position: relative;
	top: -50px;

}

.profile_row div h3 {
    font-size: 32px;
    font-weight: 700;
	color:$color_8;
}

.profile_row div p {
    font-size: 13px;
}

.profile_row div img {
    border-radius: 50%;
	@include width-height(40px,40px);
	@include margin(5px,0,0,0);
}

.proflie_detail_left{
	display: flex;
	@include width-height(100%,auto);
	justify-content: space-around;

}

.proflie_detail_right button {
    background-color: $background-color_10;
    border: 0;
    outline: 0;
	@include padding(8px,0px,8px,0px);
	@include width-height(100%,auto);
    display: inline-block;
    color: $color_6;
    border-radius: 3px;
	@include margin(0,0,0,20px);
    cursor: pointer;
	@include font-style(15px,600,19.9995px);
}

.proflie_detail_right button:first-child {
	background-color: $background-color_3;
    color: $color_4;
}




.proflie_detail_right {
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	@include width-height(60%,100px);
}

.proflie_detail_right a {
    background-color: $background-color_10;
    border-radius: 3px;
	@include padding(10px,10px,10px,10px);
    display: inline-flex;
	@include width-height(40px,35px);
	@include margin(-2px,0,0,5px);

}

.profile_anchor{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.profile_anchor_left{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.profile_anchor_left ul{
display: flex;
}
.profile_anchor_left ul li{
	list-style: none;
	display: inline-block;
}
.profile_anchor_left a {
	text-decoration: none;
	@include font-style(15px,600,19.9995px);
	@include padding(0,5px,0,5px);
    color: $color_7;
}
.profile_anchor_right{
    display: flex;
	justify-content: flex-end;
	align-items: flex-start;

}
.profile_anchor_right svg{
	@include width-height(16px,16px);
	color: #050505;
}
.profile_anchor_right button{
	background-color: $background-color_10;
    border: 0;
    outline: 0;
	@include padding(10px,25px,10px,25px);
    display: inline-block;
    color: $color_6;
    border-radius: 3px;
    cursor: pointer;
}
.profile_info {
    align-items: flex-start;
	@include flex-space-between;
	@include margin(20px,0,0,0);

}

.info_col {
    flex-basis: 33%;
}

.post_col {
    flex-basis: 65%;
	@include margin(-20px,0,0,0);
}

.profile_intro {
    background-color: $background-color_6;
	@include padding(20px,20px,20px,20px);
	@include margin(0,0,20px,0);
    border-radius: 4px;
}

.profile_intro h3 {
	color: $color_8;
	@include font-style(20px,700,24px);
}

.intro_text {
    text-align: center;
	@include margin(10px,0,10px,0);
	@include font-style(15px,400,19.9995px);
	color: $color_8;
}

.intro_text img {
	@include width-height(15px,auto);
	@include margin(0,0,-3px,0);
}

.profile_intro hr {
    border: 0;
	@include width-height(auto,1px);
    background-color: $background-color_8;
	@include margin(24px,24px,24px,24px);
}

.profile_intro ul li {
    list-style-type: none;
    font-size: 15px;
    @include padding(10px,0,10px,0);
    @include flex-center;
}

.profile_intro ul li img {
	@include width-height(26px,auto);
}

.title_box {
    @include flex-center;
    @include flex-space-between;

}
.title_box h3, .title_box a{
	@include padding(10px,0,5px,0);
}

.title_box a {
    text-decoration: none;
    color: $color_3;
    font-size: 14px;
}

.photo_box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

.photo_box div img {
	@include width-height(90%,100px);
	object-fit: cover;
    cursor: pointer;
	border-radius: 5%; 
	
}

.profile_intro p {
    font-size: 14px;
}

.freinds_box {
    display: grid;
	@include width-height(100%,auto);
    grid-template-columns: repeat(3, auto);
	row-gap: 30px;
	column-gap: 10px;

}

.freinds_box div img {
	@include width-height(90%,auto);
	object-fit: cover;
    cursor: pointer;
	border-radius: 5%; 
}

.freinds_box div {
    position: relative;
}

.freinds_box p {
    position: absolute;
    bottom: -15px;
    left: 0;
	@include font-style(13px,600,16.0004px);
    color:rgb(5, 5, 5) ;
}




@include responsive-styles;
