@mixin responsive-styles {
    @media (max-width: 932px) {
        .cover {
            @include width-height(100%, 100%);
        }
        .pd_image {
            @include width-height(200px, 200px);
            object-fit: cover;
            display: flex;
            justify-content: center;
        }
        .profile_row {
            flex-direction: column;
            @include flex-center;
        }
        .proflie_detail_left {
            @include width-height(100%, 100%);
            @include  flex-center;
            justify-content: center;
            flex-direction: column;
        }
        .profile_data {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
        }
        .profile_data h3, .profile_data p, .profile_data div, .proflie_detail_right {
            @include margin(0, 0, 15px, 0);
        }
        .profile_anchor_left {
            @include width-height(100%, auto);
            display: flex;
            justify-content: space-between;
        }
        .profile_anchor {
            @include width-height(85%, auto);
            @include flex-center;     
            justify-content: center;
        }
        .profile_anchor div {
            @include flex-center;
            justify-content: space-between;
        }
        .profile_line {
            @include width-height(85%, auto);
            margin: 0 auto;
        }
        .anchor1, .anchor2, .anchor3 {
            display: none;
        }
        .right_sidebar {
            display: none;
        }
        .left_sidebar {
            display: none;
        }
        nav {
            flex-wrap: wrap;
        }
        .nav_center {
            display: none;
        }
        .search_box {
            @include width-height(45px, 45px);
            @include margin(0, 0, 0, -45px);
        }
        .logo {
            width: 110px;
            @include margin(0, 20px, 0, 0);
        }
        .nav_left ul li img {
            @include width-height(20px, auto);
            @include margin(0, 8px, 0, 8px);
        }
        .nav_user_icon img {
            @include width-height(40px, 40px);
        }
        .nav_user_icon {
            margin-left: 0;
        }
        .add_post_link {
            flex-wrap: nowrap;
        }
        .main_content {
            flex-basis: 100%;
        }
        .story img {
            width: 30px;
            border-width: 3px;
            bottom: 30px;
        }
        .story p {
            font-size: 10px;
        }
        .add_post_link a {
            font-size: 11px;
            @include margin(0, 12px, 0, 0);
        }
        .add_post_link a img {
            @include width-height(16px, auto);
            @include margin(0, 5px, 0, 0);
        }
        .post_input_container {
            padding-left: 0;
            @include width-height(100%, auto);
        }
        .profile_container {
            @include padding(20px, 5%, 20px, 5%);
        }
        .profile_detail {
            @include padding(0, 0, 0, 0);
            @include  flex-center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .proflie_detail_right {
            text-align: left;
            display: flex;
            justify-content: center;
            @include width-height(100%, auto);
        }
        .proflie_detail_right button {
            @include width-height(100%, 100%);
        }
        .proflie_detail_right a {
            @include padding(10px, 15px, 10px, 15px);
        }
        .profile_info {
            flex-wrap: wrap;
        }
        .info_col {
            flex-basis: 100%;
        }
        .post_col {
            flex-basis: 100%;
        }
    }
}


