//media Query File
@media (max-width: 900px) {
	.right_sidebar {
		display: none;
	}
  
	.left_sidebar {
		display: none;
	}
  
	nav {
		flex-wrap: wrap;
	}
  
	.search_box {
		display: none;
	}
  
	.logo {
		width: 110px;
		margin-right: 20px;
	}
  
	.nav_left ul li img {
		width: 20px;
		margin: 0 8px;
	}
  
	.nav_user_icon img {
		width: 30px;
	}
  
	.nav_user_icon {
		margin-left: 0;
	}
  
	.add_post_link {
		flex-wrap: wrap;
	}
  
	.main_content {
		flex-basis: 100%;
		
	}
  
	.story img {
		width: 30px;
		border-width: 3px;
		bottom: 30px;
	}
  
	.story p {
		font-size: 10px;
	}
  
	.add_post_link a {
		font-size: 11px;
		margin-right: 12px;
	}
  
	.add_post_link a img {
		width: 16px;
		margin-right: 5px;
	}
  
	.post_input_container {
		padding-left: 0;
		width: 70%;
	}
	#button_value {
		padding: 10px 30px;
		margin-bottom: -440px;
		margin-left: 250px;
	  }
	  .profile_container {
        padding: 20px 5%;
    }

    .profile_detail {
        flex-wrap: wrap;
    }

    .proflie_detail_right {
        text-align: left;
        margin-top: 15px;
    }

    .proflie_detail_right button {
        margin-left: 0;
        margin-right: 10px;
    }

    .profile_info {
        flex-wrap: wrap;
    }

    .info_col {
        flex-basis: 100%;
    }

    .post_col {
        flex-basis: 100%;
    }
}
